@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.layout {
	width: 100%;
	position: relative;

	figure {
		width: 100%;
		height: 30vh;
		opacity: 1;
		position: relative;
		background: #e1d6c4;

		p {
			width: 100%;
			background: #f3eee8;
			color: #e1d6c4;
			font-size: 10vh;
			height: 10vh;
			left: 50%;
			top: 50%;
			position: absolute;
			text-align: center;
			transform: translate(-50%, -50%);
		}
	}

	.content {
		width: 70vw;
		margin: 5vh auto;
		min-height: 60vh;
		opacity: 1;

		h1 {
			font: bold 100px/1 'Nanum Myeongjo';
			color: #9d958a;
			margin-bottom: 30px;

			span {
				display: inline-block;
				opacity: 0;
				transform: scale(3);
				transition-duration: 0.5s;
			}
		}
	}
}

.tablet,
.mobile {
	.layout {
		.content {
			h1 {
				font-size: 80px;
			}
		}
	}
}

.mobile {
	.layout {
		.content {
			h1 {
				font-size: 50px;
			}
		}
	}
}
