.header {
	width: 100%;
	padding: 3vh 10vw;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(90deg, #1d1d1d, #555);

	h1 {
		font-size: 1.5rem;
		color: #e1d6c4;
	}

	ul {
		display: flex;
		gap: 4vw;
		align-items: center;
		font-size: 1rem;
		color: #9d958a;

		li {
			a.active {
				font-weight: bold;
				color: #e1d6c4;
			}

			&:hover {
				transform: scale(1.05);
			}
		}
	}
}

.header.main {
	h1 {
		color: aqua;
	}
}

.header.sub {
	h1 {
		color: hotpink;
	}
}

.tablet,
.mobile {
	.header {
		ul {
			display: none;
		}
	}
}
