.Contact {
	.content {
		width: 70vw;
		h1 {
			width: 70vw;
			margin: 0px auto;
			padding-bottom: 3rem;
			text-align: left;
			position: relative;
		}

		.upperBox {
			width: 100%;
			margin: 0px auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-bottom: 5rem;

			#mailbox {
				width: 60%;

				form {
					border-right: 1px solid #ddd;
					padding-right: 30px;
					.texBox {
						h2 {
							text-align: left;
							color: #333;
							padding-bottom: 0.5rem;
						}
						p {
							text-align: left;
							color: #888;
						}
					}
					.upper {
						// width: 50%;
						margin-bottom: 10px;
						display: flex;
						flex-wrap: wrap;
						margin-bottom: 20px;
						width: 60%;

						label {
							font: bold 1rem/1 'arial';
							color: #555;
							margin-right: 10px;
							position: relative;
							top: 10px;
						}

						input[type='text'],
						input[type='email'] {
							display: block;
							width: 100%;
							border: none;
							padding: 10px 20px;
							border-bottom: 1px solid #555;
							margin-right: 50px;
							outline: none;
							background: none;
						}
					}

					.lower {
						width: 100%;
						margin-bottom: 10px;
						display: flex;
						flex-wrap: wrap;
						margin-bottom: 20px;
						label {
							font: bold 1rem/1 'arial';
							color: #555;
							margin-right: 10px;
							position: relative;
							top: -10px;
						}
						textarea {
							width: 100%;
							border: none;
							border-bottom: 1px solid #555;
							margin-right: 20px;
							outline: none;
							background: none;
							resize: none;
						}
					}

					.btnPd {
						padding-right: 1.2rem;
						.btnSet {
							width: 100%;

							display: flex;
							gap: 10px;
							justify-content: flex-end;
							margin-bottom: 20px;

							input {
								width: 100px;
								display: block;
								height: 40px;
								background: #444;
								border: 1px solid #666;
								font: 1rem/40px 'arial';
								color: #ffffff;
								text-align: center;
								cursor: pointer;
							}
						}
					}
					.texBox {
						margin-top: 20px;
						text-align: center;
						margin-bottom: 20px;
					}
				}
			}

			#etc {
				width: 40%;
				height: 379px;
				padding-top: 19px;
				padding-left: 50px;

				.txtSc {
					height: 33%;

					span {
						color: orange;
					}
				}
			}
		}

		#mapBox {
			padding-bottom: 5rem;
			.btnSet {
				margin-top: 10px;
				width: 100%;
				display: flex;
				justify-content: space-between;

				button {
					width: 33.333%;
					border: none;
					padding: 2%;
					background: #eee;
					font-weight: bold;
					border-right: 1px solid #333;
					cursor: pointer;

					&:hover {
						background: #444;
						color: white;
					}
				}
			}
			.container {
				width: 100%;
				height: 60vh;
				background: #333;
				position: relative;

				.map,
				.view {
					width: 100%;
					height: 100%;
					background: #333;
					position: absolute;
					top: 0;
					left: 0px;
					opacity: 0;
					z-index: 1;

					&.on {
						opacity: 1;
						z-index: 2;
					}
				}
			}

			ul {
				display: flex;
				width: 100%;
				justify-content: space-between;

				li {
					width: 33.333%;
					text-align: center;
					padding: 2%;
					background: #eee;
					font-weight: bold;
					font-size: 15px;
					cursor: pointer;

					&:hover {
						background: #444;
						color: white;
					}
				}

				li.on {
					color: hotpink;
				}
			}
		}
	}

	.faqBox {
		width: 100%;
		margin: 0px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.faqtit {
			width: 50%;

			p {
				padding-bottom: 1rem;
			}

			h1 {
				width: 100%;
				text-align: left;
				font-size: 80px;
			}
		}
		.faqtxt {
			width: 50%;

			h2 {
				color: #333;
				font-weight: bold;
				padding-bottom: 2rem;
			}
			span {
				color: #888;
			}

			p {
				color: #555;
				padding-top: 2rem;
				padding-bottom: 0.5rem;
			}

			.t1 {
				padding-bottom: 1rem;
			}
		}
	}
}
